<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="./homepage.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&family=Teko:wght@500&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <header>Project Title</header>
        <section class="section">
            <h2><span> Introduction</span></h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Risus in hendrerit gravida rutrum quisque. Tincidunt nunc
                pulvinar sapien et ligula ullamcorper. Tellus id interdum velit
                laoreet. Eu ultrices vitae auctor eu augue ut. In pellentesque
                massa placerat duis ultricies. Vitae purus faucibus ornare
                suspendisse sed nisi. Risus at ultrices mi tempus imperdiet
                nulla malesuada pellentesque elit. Fringilla est ullamcorper
                eget nulla facilisi etiam. Duis ultricies lacus sed turpis
                tincidunt id aliquet. Sed risus ultricies tristique nulla. Lorem
                dolor sed viverra ipsum nunc aliquet bibendum enim. Enim tortor
                at auctor urna nunc id cursus. Orci phasellus egestas tellus
                rutrum tellus pellentesque eu tincidunt tortor. Adipiscing elit
                pellentesque habitant morbi tristique. Lacus sed viverra tellus
                in hac habitasse platea dictumst. Lacus vestibulum sed arcu non
                odio euismod lacinia. Purus semper eget duis at tellus. Vitae
                auctor eu augue ut. Ullamcorper a lacus vestibulum sed. Sem
                integer vitae justo eget magna fermentum iaculis. Adipiscing
                commodo elit at imperdiet dui accumsan. Amet nisl suscipit
                adipiscing bibendum. Nulla facilisi etiam dignissim diam quis
                enim. Phasellus vestibulum lorem sed risus ultricies tristique
                nulla aliquet enim. Mauris ultrices eros in cursus.
            </p>
        </section>
        <div class="drag-area">
            <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
            <header>Drag & Drop to Upload File</header>
            <span>OR</span>
            <button>Browse File</button>
            <input type="file" hidden />
        </div>
        <script src="script.js"></script>
    </body>
</html>
